<ion-content>

  <ion-item lines="none">

      <ion-avatar>

          <ion-img src="../../assets/book/login-image.jpg"></ion-img>

      </ion-avatar>

  </ion-item>


  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-list>
          <ion-item lines="none" class="ion-margin">
              <ion-icon name="mail" slot="start" color="danger"></ion-icon>
              <ion-input
                  type="email"
                  name="email"
                  ngModel
                  email
                  #emailCtrl="ngModel"
                  placeholder="email"
                  required
              >
              </ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched" class="ion-text-center errorMsg">
              <p>* Wrong Email</p>
              </ion-text>
      </ion-list>

      <div class="ion-margin">
          <ion-button expand="block" shape="round" type="submit" color="dark">
              <ion-icon name="log-in-outline" slot="start"></ion-icon>
              Get Link
          </ion-button>
      </div>
  </form>
  
  <div class="signUp">
      <p>Got your password</p>
      <ion-text routerLink="/login">Login Here</ion-text>
  </div>

</ion-content>
