<!-- 

<ion-content class="sqaure">
  
  <ion-item lines="none">

  <ion-text class="header">Welcome The Admin. Be Creative</ion-text>
  <div class="ion-margin">
    <ion-img src="../../../assets/book/admin.jpg" #loadingImg></ion-img>
  </div>
  </ion-item>
  <ion-item lines="none">

  <div class="ion-margin">
    <ion-img src="../../../assets/book/admin.jpg"></ion-img>
  </div>
  <ion-text class="header">Welcome The Admin. Be Creative</ion-text>
  </ion-item>
  <ion-item lines="none">

  <ion-text class="header">Welcome The Admin. Be Creative</ion-text>
  <div class="ion-margin">
  </div>
  </ion-item>
</ion-content> -->

<ion-content>
  <ng-lottie
    [options]="options"
    (animationCreated)="created($event)"
  ></ng-lottie>

  <!-- <div class="square" #squareA>
    <ion-img src="../../../assets/book/admin.jpg"></ion-img>
  </div>
  <ion-button (click)="play()">Play</ion-button>
  <ion-button (click)="pause()">Pause</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>
  <ion-button (click)="loader()">Show Loader</ion-button> -->
</ion-content>
